@import "tailwindcss";

@layer base {    
    h1 {
        @apply text-center text-2xl font-bold mb-4;
    }

    body {
        background-image: url('../src/assets/fundo.webp'), url('../src/assets/fundo.jpg');
        @apply m-0 bg-cover backdrop-brightness-35 min-h-screen text-white
    }

    label {
        @apply block mt-2;
    }

    input:not([type="radio"]), select {
        @apply bg-white rounded-md text-black p-1 px-2 w-full mt-2;
    }

    #tipoConsulta label {
        @apply m-0;
    }
}

@layer utilities {
    .fundo-card {
        @apply bg-white/22 rounded-md p-4 m-4 border border-white/30;
    }

    .msgErro {
        @apply text-red-500 text-shadow-lg font-semibold mt-1 break-words;
        text-shadow: 0 0 10px black;
    }

    .escondido {
        @apply hidden;
    }

    .zoomMapa {
        @apply fixed inset-0;
    }
}